.Field {
	border: 1px solid #00ff;
	padding: 5px 10px;
	width: 100%;
}

.Field:focus {
	border-color: red;
}

.FieldLabel {
	padding: 10px;
	background-color: cyan;
	text-align: center;
	transition: background .5s;
	cursor: pointer;
}

.FieldLabel:hover {
	background-color: blue;
}
